<p>Our Newest Jingles : </p>

<table>
	<th>Name</th>
	<th>Price</th>

<% @newestJingles.each do |new| %>
	<tr>
		<td><%=new.name%></td>
		<td><%=new.price%></td>
	</tr>
<%end%>

</table>

<p>Jingles On Sales : </p>

<table>
	<th>Name</th>
	<th>Price</th>

<% @onsaleJingles.each do |sale| %>
	<tr>
		<td><%=sale.name%></td>
		<td><%=sale.price%></td>
	</tr>
<%end%>

</table>