
fieldset#orderInfo, fieldset#paymentInfo { 
	border-radius: 10px;
	margin:15px auto;
	box-shadow: 2px 2px 4px #CCC, -2px -2px 4px #CCC; 
}

fieldset#cardTypes, fieldset#cardInfo {
	border-radius: 10px;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

/*	Styles for the Order Products area*/

#orderInfo h3 {
	margin-bottom: 0px;
}

#orderInfo .right {
	float: right;
	width: 25%;
}

#orderInfo .left {
	float: left;
	width: 75%;
}

#jingles li {
	border: 1px black solid;
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
	margin: 5px auto;
}

#jingles li p {
	font-size: .8em;
	display: inline-block;
	width: 80%;
	vertical-align: top;
	float: left;
}

#jingles li p img {
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-left: 15px;
	width:80px;
	height:80px;
}

#jingles li input {
	width:20px;
	display: inline-block;
	margin-top:20px;
	vertical-align: top;
	text-align: right;
	color: #333;
}
 
#jingles li button {
	height: 23px;
	margin-top: 20px;
	margin-left: 2px;
	color: #333;
}

#jingles span {
	margin-top: 10px;
	display: block;
	font-size: 1.7em;
}

#jingles span, #cart span{
	font-weight: bold;
	padding-left: 3px;
}

div.quantityField {
	float: right;
	text-align: right;
	width: 15%;
}

section.newjingle{
	position: absolute;
	padding-left: 100px;
}

section.onsale{
	float: right;
}

nav#pagi {

  padding: 6px 12px;
  margin-left: 200px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* End of Order Products styles */